<div class="container">

  <div class="card">
    <!-- <div class="header">
      <h2 class="title">Login</h2>
    </div> -->
    <div class="content">
      <div id="okta-signin-container"></div>
      <!-- <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
      <form [formGroup]="form" class="form-group" #loginForm="ngForm" (ngSubmit)="login()">

        <div class="form-group">
          <label for="username">Username</label>
          <input [(ngModel)]="username" id="username" name="username" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input [(ngModel)]="password" id="password" type="password" name="password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>

        <button type="button" class="btn btn-secondary">J'ai oublié mon mot de passe</button>
      </form> -->
      <br>
      <a class="button-notes-label" routerLink="/register">I need to register</a>
    </div>
  </div>
</div>
