.container {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  flex: 1 1 auto;
}

h2.okta-form-title.o-form-head {
  font-family: 'Baloo 2', cursive;
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 4em;
  padding-top: 0.5em;
}

@media (max-width: 600px) {
  .container {
    height: 100%;
  }
}
